# Introduction to Python Statements

---


تعالوا نحاول نعرف الفرق بين البايثون وأي لغة تانية في الكتابة بتبقى ازاي هنا 


---

## Python vs Other Languages

Let's create a simple statement that says:
"If a is greater than b, assign 2 to a and 4 to b"

Take a look at these two if statements (we will learn about building out if statements soon).

**Version 1 (Other Languages)**

    if (a>b){
        a = 2;
        b = 4;
    }
                        
**Version 2 (Python)**   

    if a>b:
        a = 2
        b = 4

You'll notice that Python is  more readable 

## Indentation

Here is some pseudo-code to indicate the use of whitespace and indentation in Python:

**Other Languages**

    if (x)
        if(y)
            code-statement;
    else
        another-code-statement;
        
**Python**
    
    if x:
        if y:
            code-statement
    else:
        another-code-statement

# if, elif, else Statements

<code>if</code> Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

Verbally, we can imagine we are telling the computer:

"Hey if this case happens, perform some action"

We can then expand the idea further with <code>elif</code> and <code>else</code> statements, which allow us to tell the computer:

"Hey if this case happens, perform some action. Else, if another case happens, perform some other action. Else, if *none* of the above cases happened, perform this action."

Let's go ahead and look at the syntax format for <code>if</code> statements to get a better idea of this:

    if case1:
        perform action1
    elif case2:
        perform action2
    else: 
        perform action3

## First Example

Let's see a quick example of this:

In [ ]:
if True:
    print('It was true!')

It was true!

Let's add in some else logic:

In [ ]:
x = False

if x:
    print('x was True!')
else:
    print('I will be printed in any case where x is not true')

I will be printed in any case where x is not true

### Multiple Branches

Let's get a fuller picture of how far <code>if</code>, <code>elif</code>, and <code>else</code> can take us!

We write this out in a nested structure. Take note of how the <code>if</code>, <code>elif</code>, and <code>else</code> line up in the code. This can help you see what <code>if</code> is related to what <code>elif</code> or <code>else</code> statements.

We'll reintroduce a comparison syntax for Python.

In [ ]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

Welcome to the bank!

Note how the nested <code>if</code> statements are each checked until a True boolean causes the nested code below it to run. You should also note that you can put in as many <code>elif</code> statements as you want before you close off with an <code>else</code>.

Let's create two more simple examples for the <code>if</code>, <code>elif</code>, and <code>else</code> statements:

In [ ]:
person = 'Sammy'

if person == 'Sammy':
    print('Welcome Sammy!')
else:
    print("Welcome, what's your name?")

Welcome Sammy!

In [ ]:
person = 'George'

if person == 'Sammy':
    print('Welcome Sammy!')
elif person =='George':
    print('Welcome George!')
else:
    print("Welcome, what's your name?")

Welcome George!

# Useful Operators

There are a few built-in functions and "operators" in Python that don't fit well into any category, so we will go over them in this lecture, let's begin!

## range

The range function allows you to quickly *generate* a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size. Let's see some examples:

In [ ]:
range(0,11,2)

range(0, 11, 2)

Note that this is a **generator** function, so to actually get a list out of it, we need to cast it to a list with **list()**. What is a generator? Its a special type of function that will generate information and not need to save it to memory. We haven't talked about functions or generators yet, so just keep this in your notes for now, we will discuss this in much more detail in later on in your training!

In [ ]:
# Notice how 11 is not included, up to but not including 11, just like slice notation!
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(0,12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
# Third parameter is step size!
# step size just means how big of a jump/leap/step you 
# take from the starting number to get to the next number.

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [ ]:
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

## enumerate

enumerate is a very useful function to use with for loops. Let's imagine the following situation:

In [ ]:
index_count = 0

for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count += 1

0
1
2
3
4

Keeping track of how many loops you've gone through is so common, that enumerate was created so you don't need to worry about creating and updating this index_count or loop_count variable

In [ ]:
# Notice the tuple unpacking!

for i,letter in enumerate('abcde'):
    print("At index {} the letter is {}".format(i,letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

## zip

Notice the format enumerate actually returns, let's take a look by transforming it to a list()

In [ ]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

It was a list of tuples, meaning we could use tuple unpacking during our for loop. This data structure is actually very common in Python , especially when working with outside libraries. You can use the **zip()** function to quickly create a list of tuples by "zipping" up together two lists.

In [ ]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']

In [ ]:
# This one is also a generator! We will explain this later, but for now let's transform it to a list
zip(mylist1,mylist2)

In [ ]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

To use the generator, we could just use a for loop

In [ ]:

for item1, item2 in zip(mylist1,mylist2):
    print('For this tuple, first item was {} and second item was {}'.format(item1,item2))

For this tuple, first item was 1 and second item was a
For this tuple, first item was 2 and second item was b
For this tuple, first item was 3 and second item was c
For this tuple, first item was 4 and second item was d
For this tuple, first item was 5 and second item was e

## in operator

We've already seen the **in** keyword durng the for loop, but we can also use it to quickly check if an object is in a list

In [ ]:
'x' in ['x','y','z']

True

In [ ]:
'x' in [1,2,3]

False

## min and max

Quickly check the minimum or maximum of a list with these functions.

In [ ]:
mylist = [10,20,30,40,100]

In [ ]:
min(mylist)

10

In [ ]:
max(mylist)

100

## random

Python comes with a built in random library. There are a lot of functions included in this random library, so we will only show you two useful functions for now.

In [ ]:
from random import shuffle

In [ ]:
# This shuffles the list "in-place" meaning it won't return
# anything, instead it will effect the list passed
shuffle(mylist)

In [ ]:
mylist

[40, 10, 100, 30, 20]

In [ ]:
from random import randint

In [ ]:
# Return random integer in range [a, b], including both end points.
randint(0,0)

0

In [ ]:
# Return random integer in range [a, b], including both end points.
randint(0,100)

91

## input

In [ ]:
input('Enter Something into this box: ')

Enter Something into this box: 12

'12'

# for Loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

We've already seen the <code>for</code> statement a little bit in past lectures but now let's formalize our understanding.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff



## Example 1
Iterating through a list

In [ ]:
# We'll learn how to automate this sort of list in the next lecture
list1 = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for x in list1:
    print(x)

1
2
3
4
5
6
7
8
9
10

Notice that if a number is fully divisible with no remainder, the result of the modulo call is 0. We can use this to test for even numbers, since if a number modulo 2 is equal to 0, that means it is an even number!

Back to the <code>for</code> loops!

## Example 2
Let's print only the even numbers from that list!

In [ ]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

We could have also put an <code>else</code> statement in there:

In [ ]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

## Example 3
Another common idea during a <code>for</code> loop is keeping some sort of running tally during multiple loops. For example, let's create a <code>for</code> loop that sums up the list:

In [ ]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum = list_sum + num

print(list_sum)

55

Great! Read over the above cell and make sure you understand fully what is going on. Also we could have implemented a <code>+=</code> to perform the addition towards the sum. For example:

In [ ]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum += num

print(list_sum)

55

## Example 4
We've used <code>for</code> loops with lists, how about with strings? Remember strings are a sequence so when we iterate through them we will be accessing each item in that string.

In [ ]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

## Example 5
Let's now look at how a <code>for</code> loop can be used with a tuple:

In [ ]:
tup = (1,2,3,4,5)
 
for t in tup:
    print(t)

1
2
3
4
5

## Example 6
Tuples have a special quality when it comes to <code>for</code> loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of *tuple unpacking*. During the <code>for</code> loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple!

In [ ]:
list2 = [(2,4),(6,8),(10,12)]

In [ ]:
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [ ]:
# Now with unpacking!
for (t1,t2) in list2:
    print(t1)

2
6
10

Cool! With tuples in a sequence we can access the items inside of them through unpacking! The reason this is important is because many objects will deliver their iterables through tuples. Let's start exploring iterating through Dictionaries to explore this further!

## Example 7

In [ ]:
d = {'k1':1,'k2':2,'k3':3}

In [ ]:
for item in d:
    print(item)

k1
k2
k3

Notice how this produces only the keys. So how can we get the values? Or both the keys and the values? 

We're going to introduce three new Dictionary methods: **.keys()**, **.values()** and **.items()**

In Python each of these methods return a *dictionary view object*. It supports operations like membership test and iteration, but its contents are not independent of the original dictionary – it is only a view. Let's see it in action:

In [ ]:
# Create a dictionary view object
d.items()

NameError: ignored

Since the .items() method supports iteration, we can perform *dictionary unpacking* to separate keys and values just as we did in the previous examples.

In [ ]:
# Dictionary unpacking
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

# while Loops

The <code>while</code> statement in Python is one of most general ways to perform iteration. A <code>while</code> statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

The general format of a while loop is:

    while test:
        code statements
    else:
        final code statements

Let’s look at a few simple <code>while</code> loops in action.

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x

Notice how many times the print statements occurred and how the <code>while</code> loop kept going until the True condition was met, which occurred once x==10. It's important to note that once this occurred the code stopped. Let's see how we could add an <code>else</code> statement:

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    
else:
    print('All Done!')

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x
All Done!

# break, continue, pass

We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.
    
    
Thinking about <code>break</code> and <code>continue</code> statements, the general format of the <code>while</code> loop looks like this:

    while test: 
        code statement
        if test: 
            break
        if test: 
            continue 
    else:

<code>break</code> and <code>continue</code> statements can appear anywhere inside the loop’s body, but we will usually put them further nested in conjunction with an <code>if</code> statement to perform an action based on some condition.

Let's go ahead and look at some examples!

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x==3
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...
x is currently:  5
 x is still less than 10, adding 1 to x
continuing...
x is currently:  6
 x is still less than 10, adding 1 to x
continuing...
x is currently:  7
 x is still less than 10, adding 1 to x
continuing...
x is currently:  8
 x is still less than 10, adding 1 to x
continuing...
x is currently:  9
 x is still less than 10, adding 1 to x
continuing...

Note how we have a printed statement when x==3, and a continue being printed out as we continue through the outer while loop. Let's put in a break once x ==3 and see if the result makes sense:

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

Note how the other <code>else</code> statement wasn't reached and continuing was never printed!

After these brief but simple examples, you should feel comfortable using <code>while</code> statements in your code.

**A word of caution however! It is possible to create an infinitely running loop with <code>while</code> statements. For example:**

In [ ]:
# DO NOT RUN THIS CODE!!!! 
while True:
    print("I'm stuck in an infinite loop!")

# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## Example 1

In [ ]:
# Grab every letter in string
lst = [x for x in 'word']

In [ ]:
# Check
lst

['w', 'o', 'r', 'd']

This is the basic idea of a list comprehension. If you're familiar with mathematical notation this format should feel familiar for example: x^2 : x in { 0,1,2...10 } 

Let's see a few more examples of list comprehensions in Python:
## Example 2

In [ ]:
# Square numbers in range and turn into list
lst = [x**2 for x in range(0,11)]

In [ ]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Example 3
Let's see how to add in <code>if</code> statements:

In [ ]:
# Check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]

In [ ]:
lst

[0, 2, 4, 6, 8, 10]

## Example 4
Can also do more complicated arithmetic:

In [ ]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

## Example 5
We can also perform nested list comprehensions, for example:

In [ ]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

Later on in the course we will learn about generator comprehensions. After this lecture you should feel comfortable reading and writing basic list comprehensions.

A quick note: If you *did* run the above cell, click on the Kernel menu above to restart the kernel!

![alt text](https://www.awai.com/_img/content/2018/05/how-to-build-your-business-with-a-30-day-challenge/001.jpg)

# Statements Assessment Test
Let's test your knowledge!

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [ ]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
#Code here

lst=st.split()
lst
for item in lst:
  print(item)

Print
only
the
words
that
start
with
s
in
this
sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [ ]:
#Code Here
numbers=list(range(0,10))
nnn=[]
for num in numbers:
  even=num%2
  if even==0:
    nnn.append(num)
print(nnn)

[0, 2, 4, 6, 8]

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [ ]:
#Code in this cell
lsst=[for num in ]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [ ]:
#Code in this cell


st_lst=st.split()
for word in st_lst:
  if len(word)%2==0:
    print(len(word),'even')

4 even
2 even
4 even
8 even
4 even
2 even
4 even
6 even
2 even

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [ ]:
#Code in this cell
l_=list(range(0,100))

for x in l_:
  if  x%3==0 and x%5!=0:
    print('Fizz',x)
  elif x%5==0 and x%3!=0:
    print('Buzz',x)
  elif x%3==0 and x%5==0:
    print('FizzBuzz',x)

FizzBuzz 0
Fizz 3
Buzz 5
Fizz 6
Fizz 9
Buzz 10
Fizz 12
FizzBuzz 15
Fizz 18
Buzz 20
Fizz 21
Fizz 24
Buzz 25
Fizz 27
FizzBuzz 30
Fizz 33
Buzz 35
Fizz 36
Fizz 39
Buzz 40
Fizz 42
FizzBuzz 45
Fizz 48
Buzz 50
Fizz 51
Fizz 54
Buzz 55
Fizz 57
FizzBuzz 60
Fizz 63
Buzz 65
Fizz 66
Fizz 69
Buzz 70
Fizz 72
FizzBuzz 75
Fizz 78
Buzz 80
Fizz 81
Fizz 84
Buzz 85
Fizz 87
FizzBuzz 90
Fizz 93
Buzz 95
Fizz 96
Fizz 99

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [4]:
st = 'Create a list of the first letters of every word in this string'

In [6]:
#Code in this cell
[letter[0] for letter in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

IndexError: ignored

### Great Job!