# Methods

We've already seen a few example of methods when learning about Object and Data Structure Types in Python. Methods are essentially functions built into objects. Later on in the course we will learn about how to create our own objects and methods using Object Oriented Programming (OOP) and classes.


Methods are in the form:

    object.method(arg1,arg2,etc...)
    

Let's take a quick look at what an example of the various methods a list has:

In [ ]:
# Create a simple list
lst = [1,2,3,4,5]

Fortunately, with iPython and the Jupyter Notebook we can quickly see all the possible methods using the tab key. The methods for a list are:

* append
* count
* extend
* insert
* pop
* remove
* reverse
* sort

Let's try out a few of them:


# How to see All the Methods for your object
**If you are in Colab just type  `object.`  and it will Autocomplete and show all the Methods that are available for your Object
If you are in Jupyter Press `Tab`**

In [ ]:
lst.     # Delete this (.) dot   and type it again then wait for Auto complete or Press tab in jupyter

In [ ]:
lst.

Great! Now how about count()? The count() method will count the number of occurrences of an element in a list.

In [ ]:
# Check how many times 2 shows up in the list
lst.count(2)

1

In [ ]:
def  say_anything (a,b):

  c=a+b
  print(c)

In [ ]:
say_anything (20,80)

100

# Functions

Let's see how to build out a function's syntax in Python. It has the following form:

In [ ]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) goes
    '''
    # Do stuff here
    # Return desired result

### Example 1: A simple print 'hello' function

In [ ]:
def say_hello():
    print('hello')

Call the function:

In [ ]:
say_hello()

hello

### Example 2: A simple greeting function
Let's write a function that greets people with their name.

In [ ]:
def greeting(name):
    print('Hello %s' %(name))

In [ ]:
greeting('نحمده')

Hello نحمده

## Using return
Let's see some example that use a <code>return</code> statement. <code>return</code> allows a function to *return* a result that can then be stored as a variable, or used in whatever manner a user wants.

### Example 3: Addition function

In [ ]:
def add_num(number1_of_temp,number2_of_temp):
  '''
  This function does mult and  summ
  '''
  return number1_of_temp+number2_of_temp , number1_of_temp*number2_of_temp

In [ ]:
help(add_num)

Help on function add_num in module __main__:

add_num(number1_of_temp, number2_of_temp)
    This function does mult and  summ

In [ ]:
add_num()

TypeError: ignored

In [ ]:
y

NameError: ignored

In [ ]:
add_num(4,5)

(9, 20)

In [ ]:
# Can also save as variable due to return
result = add_num(4,5)

In [ ]:
print(result)

(9, 20)

What happens if we input two strings?

In [ ]:
add_num('one','two')

TypeError: ignored

Finally let's go over a full example of creating a function to check if a number is prime (a common interview exercise).

We know a number is prime if that number is only evenly divisible by 1 and itself. Let's write our first version of the function to check all the numbers from 1 to N and perform modulo checks.

In [ ]:
def is_prime(num):
    '''
    Naive method of checking for primes. 
    '''
    for n in range(2,num):
        if num % n == 0:
            print(num,'is not prime')
            break
    else: # If never mod zero, then prime
        print(num,'is prime!')

In [ ]:
is_prime(16)

16 is not prime

In [ ]:
is_prime(17)

17 is prime!

In [ ]:
is_prime2(18)

False

Great! You should now have a basic understanding of creating your own functions to save yourself from repeatedly writing code!

![alt text](https://www.awai.com/_img/content/2018/05/how-to-build-your-business-with-a-30-day-challenge/001.jpg)

# Challenge One - Normal Package
Build a Function that takes an input string and Character 
and returns the Index of everytime that Character Appears 
e.g. 

Input : 'abcabcabc' , 'c' 

Output :[2,5,8]

In [ ]:
#first have a look on function find 

x='abcabcabc'
y=x.find('c')    # it returns only the First Occurance Index ! - First time 'c' appears is in index 2
y

'c'

**Use function `find()` and  `set()` to help you**

In [ ]:
 def find_str(str,ltr):
   lestyy=[]
   for i, letter in enumerate(str):
     if letter == ltr:
       lestyy.append(i)
   return lestyy

In [ ]:
find_str('abcabcabc' , 'c')

NameError: ignored

# Challenge One - Master Package
Build The Same finding Function but this time without using `find` neither `set`
Input : 'abcabcabc' , 'c' 

Output :[2,5,8]

**DON'T USE:  function `find()` and  `set()`**

In [ ]:
#Build your Function here 
def find_str2(str,ltr):
  lst=[]
  for i in range(len(str)):
    if str[i]==ltr:
      lst.append(i)
  return lst

In [ ]:
find_str2()

[2, 5, 7]

# Nested Statements and Scope 

Now that we have gone over writing our own functions, it's important to understand how Python deals with the variable names you assign. When you create a variable name in Python the name is stored in a *name-space*. Variable names also have a *scope*, the scope determines the visibility of that variable name to other parts of your code.

Let's start with a quick thought experiment; imagine the following code:

In [ ]:
x = 25

def printer():
    x = 50
    return x

#print(x)
#print(printer())
#print(x)

25
50
25

![alt text](https://boostupsocial.com/wp-content/uploads/2018/01/Question-Mark-280x280.png)

What do you imagine the output of printer() is? 25 or 50? What is the output of print x? 25 or 50?

***Go and Unhash them all***

In [ ]:
print(x)

25

In [ ]:
print(printer())

50

## Local and Global Variables
When you declare variables inside a function definition, they are not related in any way to other variables with the same names used outside the function - i.e. variable names are local to the function. This is called the scope of the variable. All variables have the scope of the block they are declared in starting from the point of definition of the name.

**Using `global` declaration can flip the table and change the Variable on the top of the function**

Examples:-

In [ ]:
x = 50

def func(x):
    print('x is', x)
    x = 2
    print('Changed local x to', x)

func(x)
print('x is still', x)

x is 50
Changed local x to 2
x is still 50

In [ ]:
x = 50

def func():
    global x
    print('This function is now using the global x!')
    print('Because of global x is: ', x)
    x = 2
    print('Ran func(), changed global x to', x)

print('Before calling func(), x is: ', x)
func()
print('Value of x (outside of func()) is: ', x)

Before calling func(), x is:  50
This function is now using the global x!
Because of global x is:  50
Ran func(), changed global x to 2
Value of x (outside of func()) is:  2

The <code>global</code> statement is used to declare that **x** is a global variable - hence, when we assign a value to **x** inside the function, that change is reflected when we use the value of **x** in the main block.

You can specify more than one global variable using the same global statement e.g. <code>global x, y, z</code>.

![alt text](https://www.awai.com/_img/content/2018/05/how-to-build-your-business-with-a-30-day-challenge/001.jpg)

# Functions and Methods Assessment

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [ ]:
def ran_check(num,low,high):
    if low < num < high:
      print(num ,'is in the range between', low, 'and' ,high)
    else:
      print('Number is out of range')

In [ ]:
# Check
ran_check(5,2,7)

5 is in the range between 2 and 7

If you only wanted to return a boolean:

In [ ]:
def ran_bool(num,low,high):
    if low < num < high:
      result=True
    else:
      result=False
    return result

In [ ]:
ran_bool(3,22,10)

False

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [ ]:
s='Hello Mr. Rogers, how are you this fine Tuesday?'
s.isupper()

False

In [ ]:
def up_low(s):

  s='Hello Mr. Rogers, how are you this fine Tuesday?'
  num_uppercase=0
  num_lowercase=0
  for i,ltr in enumerate(s):
    if ltr.isupper() == True:
      num_uppercase+=1
    elif ltr.islower() == True:
     num_lowercase+=1
  print('Original String :',s)
  print('No. of Upper case characters :',num_uppercase)
  print('No. of Lower case characters :',num_lowercase)

In [ ]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String : Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters : 4
No. of Lower case characters : 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [ ]:
def unique_list(lst):
  return set(lst)

list1=[1,1,1,1,2,2,3,3,3,3,4,5,6,6,7,8,8,9,9,9]
unique_list(list1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

{1, 2, 3, 4, 5}

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [ ]:
def multiply(numbers):
  lest=[1, 2, 3, -4]
  total=1
  for i in lest:
    total=total*i
  return total

In [ ]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed in string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [ ]:
def palindrome(st):
  st=st.replace(' ','')
  string_start = 0
  string_end = len(st) - 1
  while string_end >= string_start:
    if not st[string_start] == st[string_end]:
      return False
    string_start += 1
    string_end -= 1
  return True

palindrome('nurses run')

True

In [ ]:
palindrome('helleh')

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

2

In [ ]:
#lst=[1, 3, 3]
#lst=[1, 3, 1, 3]
#lst=[3, 1, 3]
def has_33(lst):
    for i in range(len(lst) - 1):
        if lst[i] == 3 and lst[i + 1] == 3:
            return True
    return False

has_33([1, 3, 1,3])

False

In [ ]:
# Check
has_33([1, 3, 3])

In [ ]:
# Check
has_33([1, 3, 1, 3])

In [ ]:
# Check
has_33([3, 1, 3])

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
s='Hello'
new=''
for i,x in enumerate(s):
  if i<=len(s):
    new=x
  new+=new
new

'oooooo'

In [ ]:
def paper_doll(s):
    for x in s:
        s[i] == s[i]*3
            return True
    return False

In [ ]:
def paper_doll(text):
    pass

In [ ]:
# Check
paper_doll('Hello')

In [ ]:
# Check
paper_doll('Mississippi')

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [5]:
def blackjack(a,b,c):

    Ace_count = [a,b,c].count(11)

    total = sum([a,b,c])

    if total <= 21:
        return (total)

    while total > 21:
        if Ace_count > 0:
            Ace_count -= 1
            total -= 10
        else:
            return "Bust"

    return (total)

In [6]:
# Check
blackjack(5,6,7)

18

In [7]:
# Check
blackjack(9,9,9)

'Bust'

In [8]:
# Check
blackjack(9,9,11)

19

![alt text](https://www.awai.com/_img/content/2018/05/how-to-build-your-business-with-a-30-day-challenge/001.jpg)

# Challenge Two 
Build a Customized Split Function with **two Options **


---




> ***Option One :*** Splitting at first Occurance Only

Input: 'Abo Khayria byslem 3lyk', 'b'

Output :  ['A','o Khayria byslem 3lyk']


---



> ***Option two :*** Splitting  Every time the Character Appears


Input: 'Abo Khayria byslem 3lyk', 'b'

Output :  ['A','o Khayria ','yslem 3lyk']


---




### Don't Use `split` function , you are allowed to grab your Customized Find Function

In [29]:
def my_split(sentance, ltr):
    sep=ltr
    sentance = sentance.lstrip(sep)
    if sep in sentance:
        pos = sentance.index(sep)
        found = sentance[:pos]
        remainder = my_split(sentance[pos+1:],ltr)
        remainder.insert(0, found)
        return remainder
    else:
        return [sentance]


my_split('Abo Khayria byslem 3lyk','b')

['A', 'o Khayria ', 'yslem 3lyk']

NameError: ignored

#### Great Job!